{% extends 'base.html.twig' %}

{% block title %}Accueil - Vite & Gourmand{% endblock %}

{% block body %}
<article>
    <div class="container p-4">
        <h1 class="text-center pb-5">Bienvenue chez Vite & Gourmand</h1>
            <div class="row row-cols-2 align-items-center">
                <div class="col">
                    <img class= "w-75 rounded" src="{{ asset('images/food-1050813_1280.jpg') }}" alt="Plat gastronomique">
                </div>
                <div class="col">
                    <p class="text-justify">
                        "25 ans d’excellence culinaire à Bordeaux. Menus de saison, commande en ligne, livraison pro – Vite & Gourmand s’occupe de tout pour sublimer vos moments."
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <a href="{{ path('app_menus') }}" class="btn btn-primary">Voir nos menus</a>
        </div>
    </div>
</article>
<article class= "background2 p-4">
    <div class= "text-white">
        <div class="container p-4">
            <div class="row row-cols-2 align-items-center">
                <div class="col">
                <p class="text-justify">
                    "Vite & Gourmand : une cuisine fraîche, savoureuse et sans attente. Des plats préparés avec passion pour une expérience gourmande."
                </p>
                </div>
                <div class="col">
                    <img class= "w-100 rounded" src="{{ asset('images/buffet-7165148_640.jpg') }}" alt="Plat gastronomique">
                </div>
            </div>
            <div class="text-center pt-4">
                <a href="#" class="btn btn-primary">A propos de nous</a>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="container p-4">
        <div class="row row-cols-2 align-items-center">
            <div class="col">
                <img class= "w-100 rounded" src="{{ asset('images/board-2584984_640.jpg') }}" alt="Plat gastronomique">
            </div>
            <div class="col">
                <p class="text-justify">
                    Votre satisfaction est importante pour nous. Vos retour nous permet d’améliorer nos services, afin de mieux vous satisfaire.
                </p>
            </div>
        </div>
        <div class="text-center pt-4">
            <a href="#" class="btn btn-primary">Laissez un Avis</a>
        </div>
    </div>
</article>
{% endblock %}