{% extends 'base.html.twig' %}

{% block title %}Nos Menus{% endblock %}

{% block body %}


<div class="container p-4">
    <h1 class="text-center pb-5">Nos Menus</h1>
</div>


<div class="container d-flex justify-content-between p-4">
    <a href="#" class="btn btn-primary">Filtre</a>
    <a href="#" class="btn btn-primary">Ajouter un menus</a>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-lg-3 justify-content-center">

        {% for i in 1..6 %}
        <div class="col p-2 d-flex">
            <div class="card h-100 mx-auto">

                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}"
                     class="card-img-top rounded"
                     alt="Menus du mois">

                <div class="card-body d-flex flex-column">

                    <h5 class="card-title text-center">Menus du mois</h5>

                    <div class="text-center mb-2">
                        <span class="badge bg-secondary">Végétarien</span>
                    </div>

                    <p class="card-text text-center">
                        Dès 4 pers – 19,90 €<br>
                        Entrée, plat, dessert
                    </p>

                    <div class="mt-auto text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}
