@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #1F2A44;
    --secondary: #D9A441;
    --background: #E5DCCF;
    --text: #2F2F2F;
    --success: #6EA67C;
    --bs-primary: #1F2A44;
    --bs-secondary: #D9A441;
}

/* Fond */

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Police d'écriture */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: var(--bs-primary);
}
header {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: var(--bs-primary);
}

.navbar-dark .navbar-toggler {
    border-color: #D9A441;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23D9A441' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Boutons */

.btn-primary {
    background-color: var(--secondary);
    border: none;
    color: #000;
}

.btn-primary:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary {
    background-color: var(--secondary);
    color: #000;
    border: none;
}

.btn-success {
    background-color: var(--success);
    border: none;
}

/*Liens*/

a {
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
}


.background2 {
    background-color: #2F2F2F;
}

.badge {
    display: inline-block;
    padding: 6px 14px;
    background-color: D9D9D9;
    color: #000000;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #d6c7aa;
}

.image-card{
    position:relative;
    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}