@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary: #1F2A44;
    --secondary: #D9A441;
    --background: #E5DCCF;
    --text: #2F2F2F;
    --success: #6EA67C;
    --bs-primary: #1F2A44;
    --bs-secondary: #D9A441;
}

/* Fond */

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto', sans-serif;
}

/* Police d'écriture */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: var(--bs-primary);
}
header {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: var(--bs-primary);
}

/* Boutons */

.btn-primary {
    background-color: var(--secondary);
    border: none;
    color: #000;
}

.btn-primary:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary {
    background-color: var(--secondary);
    color: #000;
    border: none;
}

.btn-success {
    background-color: var(--success);
    border: none;
}

/*Liens*/

a {
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
}


.background2 {
    background-color: #2F2F2F;
}

.badge {
    display: inline-block;
    padding: 6px 14px;
    background-color: D9D9D9;
    color: #000000;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #d6c7aa;
}
