<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Vite & Gourmand{% endblock %}</title>

    {% block stylesheets %}
        {{ importmap('app') }}
    {% endblock %}
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg" style="background-color: var(--primary);">
        <div class="container-fluid">
            <a class="navbar-brand text-white text-center" href="/">
                Vite <br>& <br>Gourmand
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/galerie">Galerie</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ path('app_menus') }}">Nos menus</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Réservations</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Compte</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="#">Connexion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="background2 text-center py-4" style="color: white;">
    <div class="row">
        <div class="col-lg-2">
            <p>Nos horaires<br>Du lundi au dimanche</p>
        </div>
        <div class="col-lg-8">
            <p>
                Vite & Gourmand<br>
                3 rue Sarrelouis<br>
                33000 Bordeaux<br>
                03.88.88.88.88
            </p>
        </div>
        <div class="col-lg-2">
            <p>
                <a href="#" class="text-warning">contact@veg.fr</a><br>
                <a href="#" class="text-warning">Mentions légales & CGV</a>
            </p>
        </div>
    </div>
</footer>

</body>
</html>
